{
  "openapi": "3.1.0",
  "info": {
    "description": "Frozen compatibility contract for the TeamGrid legacy API. Payload schemas are intentionally broad; new integrations should use API v1.",
    "title": "TeamGrid API v0 (Legacy)",
    "version": "0.4.5"
  },
  "servers": [
    {
      "url": "https://api.teamgrid.app"
    },
    {
      "url": "https://api.teamgridapp.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/": {
      "get": {
        "description": "Use the frozen API v0 contract to legacy API discovery redirect. Returns legacy response envelopes and uses page-and-limit pagination where the route supports collection reads. Authentication scopes the request to the workspace that issued the token.",
        "operationId": "v0_get",
        "responses": {
          "302": {
            "description": "Redirects to the TeamGrid Developer documentation.",
            "headers": {
              "Location": {
                "description": "TeamGrid Developer documentation URL.",
                "schema": {
                  "format": "uri",
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [],
        "summary": "Legacy API discovery redirect",
        "tags": [
          "discovery"
        ],
        "x-teamgrid-authenticated": false
      }
    },
    "/calendar/{token}.ics": {
      "get": {
        "description": "Use the frozen API v0 contract to gET /calendar/{token}.ics. Returns legacy response envelopes and uses page-and-limit pagination where the route supports collection reads. Authentication scopes the request to the workspace that issued the token.",
        "operationId": "v0_get_calendar_token_ics",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to gET /calendar/{token}.ics succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to gET /calendar/{token}.ics created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to gET /calendar/{token}.ics completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [],
        "summary": "GET /calendar/{token}.ics",
        "tags": [
          "calendar"
        ],
        "x-teamgrid-authenticated": false,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "path",
            "name": "token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Opaque calendar-feed token issued by TeamGrid. Treat this value as a secret."
          }
        ]
      }
    },
    "/callnotes": {
      "delete": {
        "description": "Use the frozen API v0 contract to delete call note. Uses the broad legacy payload contract and returns the historical v0 response envelope. Authentication scopes the request to the workspace that issued the token.",
        "operationId": "v0_delete_callnotes",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to delete call note succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to delete call note created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to delete call note completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete call note",
        "tags": [
          "callnotes"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "deprecated-alias",
        "deprecated": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              },
              "example": {}
            }
          },
          "required": true,
          "description": "JSON payload used to delete call note. The server validates this payload before applying any change."
        }
      },
      "get": {
        "description": "Use the frozen API v0 contract to get all call notes. Returns legacy response envelopes and uses page-and-limit pagination where the route supports collection reads. Authentication scopes the request to the workspace that issued the token.",
        "operationId": "v0_get_callnotes",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to get all call notes succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to get all call notes created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to get all call notes completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get all call notes",
        "tags": [
          "callnotes"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer"
            },
            "description": "One-based page number used by this legacy v0 collection endpoint."
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer"
            },
            "description": "Maximum number of records to return in this page. The response may contain fewer records."
          }
        ]
      },
      "post": {
        "description": "Use the frozen API v0 contract to create call note. Uses the broad legacy payload contract and returns the historical v0 response envelope. Authentication scopes the request to the workspace that issued the token.",
        "operationId": "v0_post_callnotes",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to create call note succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to create call note created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to create call note completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create call note",
        "tags": [
          "callnotes"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              },
              "example": {}
            }
          },
          "required": true,
          "description": "JSON payload used to create call note. The server validates this payload before applying any change."
        }
      }
    },
    "/callnotes/{_id}": {
      "delete": {
        "description": "Use the frozen API v0 contract to delete call note. Uses the broad legacy payload contract and returns the historical v0 response envelope. Authentication scopes the request to the workspace that issued the token.",
        "operationId": "v0_delete_callnotes_id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to delete call note succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to delete call note created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to delete call note completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete call note",
        "tags": [
          "callnotes"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "path",
            "name": "_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Stable id used to identify the target within the authenticated workspace."
          }
        ]
      },
      "get": {
        "description": "Use the frozen API v0 contract to get a call note. Returns legacy response envelopes and uses page-and-limit pagination where the route supports collection reads. Authentication scopes the request to the workspace that issued the token.",
        "operationId": "v0_get_callnotes_id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to get a call note succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to get a call note created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to get a call note completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get a call note",
        "tags": [
          "callnotes"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "path",
            "name": "_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Stable id used to identify the target within the authenticated workspace."
          }
        ]
      }
    },
    "/contactgroups": {
      "delete": {
        "description": "Use the frozen API v0 contract to delete contact group. Uses the broad legacy payload contract and returns the historical v0 response envelope. Authentication scopes the request to the workspace that issued the token. This historically advertised operation has no supported write path and returns 501.",
        "operationId": "v0_delete_contactgroups",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to delete contact group succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to delete contact group created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to delete contact group completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "The frozen route was historically advertised but has no supported write path."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete contact group",
        "tags": [
          "contactgroups"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "unavailable",
        "deprecated": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              },
              "example": {}
            }
          },
          "required": true,
          "description": "JSON payload used to delete contact group. The server validates this payload before applying any change."
        }
      },
      "get": {
        "description": "Use the frozen API v0 contract to get all contact groups. Returns legacy response envelopes and uses page-and-limit pagination where the route supports collection reads. Authentication scopes the request to the workspace that issued the token.",
        "operationId": "v0_get_contactgroups",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to get all contact groups succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to get all contact groups created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to get all contact groups completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get all contact groups",
        "tags": [
          "contactgroups"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer"
            },
            "description": "One-based page number used by this legacy v0 collection endpoint."
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer"
            },
            "description": "Maximum number of records to return in this page. The response may contain fewer records."
          }
        ]
      },
      "post": {
        "description": "Use the frozen API v0 contract to create contact group. Uses the broad legacy payload contract and returns the historical v0 response envelope. Authentication scopes the request to the workspace that issued the token. This historically advertised operation has no supported write path and returns 501.",
        "operationId": "v0_post_contactgroups",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to create contact group succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to create contact group created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to create contact group completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "The frozen route was historically advertised but has no supported write path."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create contact group",
        "tags": [
          "contactgroups"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "unavailable",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              },
              "example": {}
            }
          },
          "required": true,
          "description": "JSON payload used to create contact group. The server validates this payload before applying any change."
        }
      },
      "put": {
        "description": "Use the frozen API v0 contract to update contact group. Uses the broad legacy payload contract and returns the historical v0 response envelope. Authentication scopes the request to the workspace that issued the token. This historically advertised operation has no supported write path and returns 501.",
        "operationId": "v0_put_contactgroups",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to update contact group succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to update contact group created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to update contact group completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "The frozen route was historically advertised but has no supported write path."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update contact group",
        "tags": [
          "contactgroups"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "unavailable",
        "deprecated": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              },
              "example": {}
            }
          },
          "required": true,
          "description": "JSON payload used to update contact group. The server validates this payload before applying any change."
        }
      }
    },
    "/contactgroups/{_id}": {
      "delete": {
        "description": "Use the frozen API v0 contract to delete contact group. Uses the broad legacy payload contract and returns the historical v0 response envelope. Authentication scopes the request to the workspace that issued the token. This historically advertised operation has no supported write path and returns 501.",
        "operationId": "v0_delete_contactgroups_id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to delete contact group succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to delete contact group created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to delete contact group completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "The frozen route was historically advertised but has no supported write path."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete contact group",
        "tags": [
          "contactgroups"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "unavailable",
        "parameters": [
          {
            "in": "path",
            "name": "_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Stable id used to identify the target within the authenticated workspace."
          }
        ]
      },
      "get": {
        "description": "Use the frozen API v0 contract to get a contact group. Returns legacy response envelopes and uses page-and-limit pagination where the route supports collection reads. Authentication scopes the request to the workspace that issued the token.",
        "operationId": "v0_get_contactgroups_id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to get a contact group succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to get a contact group created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to get a contact group completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get a contact group",
        "tags": [
          "contactgroups"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "path",
            "name": "_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Stable id used to identify the target within the authenticated workspace."
          }
        ]
      },
      "put": {
        "description": "Use the frozen API v0 contract to update contact group. Uses the broad legacy payload contract and returns the historical v0 response envelope. Authentication scopes the request to the workspace that issued the token. This historically advertised operation has no supported write path and returns 501.",
        "operationId": "v0_put_contactgroups_id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to update contact group succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to update contact group created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to update contact group completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "The frozen route was historically advertised but has no supported write path."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update contact group",
        "tags": [
          "contactgroups"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "unavailable",
        "parameters": [
          {
            "in": "path",
            "name": "_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Stable id used to identify the target within the authenticated workspace."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              },
              "example": {}
            }
          },
          "required": true,
          "description": "JSON payload used to update contact group. The server validates this payload before applying any change."
        }
      }
    },
    "/contacts": {
      "get": {
        "description": "Use the frozen API v0 contract to get all contacts. Returns legacy response envelopes and uses page-and-limit pagination where the route supports collection reads. Authentication scopes the request to the workspace that issued the token.",
        "operationId": "v0_get_contacts",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to get all contacts succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to get all contacts created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to get all contacts completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get all contacts",
        "tags": [
          "contacts"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer"
            },
            "description": "One-based page number used by this legacy v0 collection endpoint."
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer"
            },
            "description": "Maximum number of records to return in this page. The response may contain fewer records."
          }
        ]
      },
      "post": {
        "description": "Use the frozen API v0 contract to create contact. Uses the broad legacy payload contract and returns the historical v0 response envelope. Authentication scopes the request to the workspace that issued the token.",
        "operationId": "v0_post_contacts",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to create contact succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to create contact created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to create contact completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create contact",
        "tags": [
          "contacts"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              },
              "example": {}
            }
          },
          "required": true,
          "description": "JSON payload used to create contact. The server validates this payload before applying any change."
        }
      },
      "put": {
        "description": "Use the frozen API v0 contract to update contact. Uses the broad legacy payload contract and returns the historical v0 response envelope. Authentication scopes the request to the workspace that issued the token.",
        "operationId": "v0_put_contacts",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to update contact succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to update contact created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to update contact completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update contact",
        "tags": [
          "contacts"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "deprecated-alias",
        "deprecated": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              },
              "example": {}
            }
          },
          "required": true,
          "description": "JSON payload used to update contact. The server validates this payload before applying any change."
        }
      }
    },
    "/contacts/{_id}": {
      "get": {
        "description": "Use the frozen API v0 contract to get a contact. Returns legacy response envelopes and uses page-and-limit pagination where the route supports collection reads. Authentication scopes the request to the workspace that issued the token.",
        "operationId": "v0_get_contacts_id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to get a contact succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to get a contact created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to get a contact completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get a contact",
        "tags": [
          "contacts"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "path",
            "name": "_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Stable id used to identify the target within the authenticated workspace."
          }
        ]
      },
      "put": {
        "description": "Use the frozen API v0 contract to update contact. Uses the broad legacy payload contract and returns the historical v0 response envelope. Authentication scopes the request to the workspace that issued the token.",
        "operationId": "v0_put_contacts_id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to update contact succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to update contact created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to update contact completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update contact",
        "tags": [
          "contacts"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "path",
            "name": "_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Stable id used to identify the target within the authenticated workspace."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              },
              "example": {}
            }
          },
          "required": true,
          "description": "JSON payload used to update contact. The server validates this payload before applying any change."
        }
      }
    },
    "/journalEntries": {
      "delete": {
        "description": "Use the frozen API v0 contract to delete journal entry. Uses the broad legacy payload contract and returns the historical v0 response envelope. Authentication scopes the request to the workspace that issued the token. This historically advertised operation has no supported write path and returns 501.",
        "operationId": "v0_delete_journalEntries",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to delete journal entry succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to delete journal entry created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to delete journal entry completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "The frozen route was historically advertised but has no supported write path."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete journal entry",
        "tags": [
          "journalEntries"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "unavailable",
        "deprecated": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              },
              "example": {}
            }
          },
          "required": true,
          "description": "JSON payload used to delete journal entry. The server validates this payload before applying any change."
        }
      },
      "get": {
        "description": "Use the frozen API v0 contract to get all journal entries. Returns legacy response envelopes and uses page-and-limit pagination where the route supports collection reads. Authentication scopes the request to the workspace that issued the token.",
        "operationId": "v0_get_journalEntries",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to get all journal entries succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to get all journal entries created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to get all journal entries completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get all journal entries",
        "tags": [
          "journalEntries"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer"
            },
            "description": "One-based page number used by this legacy v0 collection endpoint."
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer"
            },
            "description": "Maximum number of records to return in this page. The response may contain fewer records."
          }
        ]
      },
      "post": {
        "description": "Use the frozen API v0 contract to create journal entry. Uses the broad legacy payload contract and returns the historical v0 response envelope. Authentication scopes the request to the workspace that issued the token. This historically advertised operation has no supported write path and returns 501.",
        "operationId": "v0_post_journalEntries",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to create journal entry succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to create journal entry created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to create journal entry completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "The frozen route was historically advertised but has no supported write path."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create journal entry",
        "tags": [
          "journalEntries"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "unavailable",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              },
              "example": {}
            }
          },
          "required": true,
          "description": "JSON payload used to create journal entry. The server validates this payload before applying any change."
        }
      },
      "put": {
        "description": "Use the frozen API v0 contract to update journal entry. Uses the broad legacy payload contract and returns the historical v0 response envelope. Authentication scopes the request to the workspace that issued the token. This historically advertised operation has no supported write path and returns 501.",
        "operationId": "v0_put_journalEntries",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to update journal entry succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to update journal entry created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to update journal entry completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "The frozen route was historically advertised but has no supported write path."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update journal entry",
        "tags": [
          "journalEntries"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "unavailable",
        "deprecated": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              },
              "example": {}
            }
          },
          "required": true,
          "description": "JSON payload used to update journal entry. The server validates this payload before applying any change."
        }
      }
    },
    "/journalEntries/{_id}": {
      "delete": {
        "description": "Use the frozen API v0 contract to delete journal entry. Uses the broad legacy payload contract and returns the historical v0 response envelope. Authentication scopes the request to the workspace that issued the token. This historically advertised operation has no supported write path and returns 501.",
        "operationId": "v0_delete_journalEntries_id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to delete journal entry succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to delete journal entry created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to delete journal entry completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "The frozen route was historically advertised but has no supported write path."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete journal entry",
        "tags": [
          "journalEntries"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "unavailable",
        "parameters": [
          {
            "in": "path",
            "name": "_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Stable id used to identify the target within the authenticated workspace."
          }
        ]
      },
      "get": {
        "description": "Use the frozen API v0 contract to get a journal entry. Returns legacy response envelopes and uses page-and-limit pagination where the route supports collection reads. Authentication scopes the request to the workspace that issued the token.",
        "operationId": "v0_get_journalEntries_id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to get a journal entry succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to get a journal entry created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to get a journal entry completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get a journal entry",
        "tags": [
          "journalEntries"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "path",
            "name": "_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Stable id used to identify the target within the authenticated workspace."
          }
        ]
      },
      "put": {
        "description": "Use the frozen API v0 contract to update journal entry. Uses the broad legacy payload contract and returns the historical v0 response envelope. Authentication scopes the request to the workspace that issued the token. This historically advertised operation has no supported write path and returns 501.",
        "operationId": "v0_put_journalEntries_id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to update journal entry succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to update journal entry created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to update journal entry completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "The frozen route was historically advertised but has no supported write path."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update journal entry",
        "tags": [
          "journalEntries"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "unavailable",
        "parameters": [
          {
            "in": "path",
            "name": "_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Stable id used to identify the target within the authenticated workspace."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              },
              "example": {}
            }
          },
          "required": true,
          "description": "JSON payload used to update journal entry. The server validates this payload before applying any change."
        }
      }
    },
    "/lists": {
      "delete": {
        "description": "Use the frozen API v0 contract to delete list. Uses the broad legacy payload contract and returns the historical v0 response envelope. Authentication scopes the request to the workspace that issued the token.",
        "operationId": "v0_delete_lists",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to delete list succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to delete list created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to delete list completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete list",
        "tags": [
          "lists"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "deprecated-alias",
        "deprecated": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              },
              "example": {}
            }
          },
          "required": true,
          "description": "JSON payload used to delete list. The server validates this payload before applying any change."
        }
      },
      "get": {
        "description": "Use the frozen API v0 contract to get all lists. Returns legacy response envelopes and uses page-and-limit pagination where the route supports collection reads. Authentication scopes the request to the workspace that issued the token.",
        "operationId": "v0_get_lists",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to get all lists succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to get all lists created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to get all lists completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get all lists",
        "tags": [
          "lists"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer"
            },
            "description": "One-based page number used by this legacy v0 collection endpoint."
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer"
            },
            "description": "Maximum number of records to return in this page. The response may contain fewer records."
          }
        ]
      },
      "post": {
        "description": "Use the frozen API v0 contract to create list. Uses the broad legacy payload contract and returns the historical v0 response envelope. Authentication scopes the request to the workspace that issued the token.",
        "operationId": "v0_post_lists",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to create list succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to create list created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to create list completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create list",
        "tags": [
          "lists"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              },
              "example": {}
            }
          },
          "required": true,
          "description": "JSON payload used to create list. The server validates this payload before applying any change."
        }
      },
      "put": {
        "description": "Use the frozen API v0 contract to update list. Uses the broad legacy payload contract and returns the historical v0 response envelope. Authentication scopes the request to the workspace that issued the token.",
        "operationId": "v0_put_lists",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to update list succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to update list created a resource and returned the v0 response envelope."
          },
          "204": {
            "description": "The request to update list completed successfully and returns no response body."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update list",
        "tags": [
          "lists"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "deprecated-alias",
        "deprecated": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              },
              "example": {}
            }
          },
          "required": true,
          "description": "JSON payload used to update list. The server validates this payload before applying any change."
        }
      }
    },
    "/lists/{_id}": {
      "delete": {
        "description": "Use the frozen API v0 contract to delete list. Uses the broad legacy payload contract and returns the historical v0 response envelope. Authentication scopes the request to the workspace that issued the token.",
        "operationId": "v0_delete_lists_id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                },
                "example": {
                  "statusCode": 1,
                  "data": "example",
                  "info": "example",
                  "pagination": {}
                }
              }
            },
            "description": "The legacy request to delete list succeeded and returned the historical v0 response envelope."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
[...]
