{
  "openapi": "3.1.0",
  "info": {
    "description": "Frozen compatibility contract for the TeamGrid legacy API. Payload schemas are intentionally broad; new integrations should use API v1.",
    "title": "TeamGrid API v0 (Legacy)",
    "version": "0.4.5"
  },
  "servers": [
    {
      "url": "https://api.teamgrid.app"
    },
    {
      "url": "https://api.teamgridapp.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/": {
      "get": {
        "description": "Legacy API discovery redirect",
        "operationId": "v0_get",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [],
        "summary": "Legacy API discovery redirect",
        "tags": [
          "discovery"
        ],
        "x-teamgrid-authenticated": false
      }
    },
    "/calendar/{token}.ics": {
      "get": {
        "description": "Frozen legacy v0 runtime operation.",
        "operationId": "v0_get_calendar_token_ics",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [],
        "summary": "GET /calendar/{token}.ics",
        "tags": [
          "calendar"
        ],
        "x-teamgrid-authenticated": false,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "path",
            "name": "token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer"
            }
          }
        ]
      }
    },
    "/callnotes": {
      "delete": {
        "description": "Delete call note",
        "operationId": "v0_delete_callnotes",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete call note",
        "tags": [
          "callnotes"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "deprecated-alias",
        "deprecated": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              }
            }
          },
          "required": true
        }
      },
      "get": {
        "description": "Get all call notes",
        "operationId": "v0_get_callnotes",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get all call notes",
        "tags": [
          "callnotes"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer"
            }
          }
        ]
      },
      "post": {
        "description": "Create call note",
        "operationId": "v0_post_callnotes",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create call note",
        "tags": [
          "callnotes"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              }
            }
          },
          "required": true
        }
      }
    },
    "/callnotes/{_id}": {
      "delete": {
        "description": "Delete call note",
        "operationId": "v0_delete_callnotes_id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete call note",
        "tags": [
          "callnotes"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "path",
            "name": "_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "description": "Get a call note",
        "operationId": "v0_get_callnotes_id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get a call note",
        "tags": [
          "callnotes"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "path",
            "name": "_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer"
            }
          }
        ]
      }
    },
    "/contactgroups": {
      "delete": {
        "description": "Delete contact group",
        "operationId": "v0_delete_contactgroups",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "The frozen route was historically advertised but has no supported write path."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete contact group",
        "tags": [
          "contactgroups"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "unavailable",
        "deprecated": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              }
            }
          },
          "required": true
        }
      },
      "get": {
        "description": "Get all contact groups",
        "operationId": "v0_get_contactgroups",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get all contact groups",
        "tags": [
          "contactgroups"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer"
            }
          }
        ]
      },
      "post": {
        "description": "Create contact group",
        "operationId": "v0_post_contactgroups",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "The frozen route was historically advertised but has no supported write path."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create contact group",
        "tags": [
          "contactgroups"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "unavailable",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "description": "Update contact group",
        "operationId": "v0_put_contactgroups",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "The frozen route was historically advertised but has no supported write path."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update contact group",
        "tags": [
          "contactgroups"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "unavailable",
        "deprecated": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              }
            }
          },
          "required": true
        }
      }
    },
    "/contactgroups/{_id}": {
      "delete": {
        "description": "Delete contact group",
        "operationId": "v0_delete_contactgroups_id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "The frozen route was historically advertised but has no supported write path."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete contact group",
        "tags": [
          "contactgroups"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "unavailable",
        "parameters": [
          {
            "in": "path",
            "name": "_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "description": "Get a contact group",
        "operationId": "v0_get_contactgroups_id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get a contact group",
        "tags": [
          "contactgroups"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "path",
            "name": "_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer"
            }
          }
        ]
      },
      "put": {
        "description": "Update contact group",
        "operationId": "v0_put_contactgroups_id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "The frozen route was historically advertised but has no supported write path."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update contact group",
        "tags": [
          "contactgroups"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "unavailable",
        "parameters": [
          {
            "in": "path",
            "name": "_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              }
            }
          },
          "required": true
        }
      }
    },
    "/contacts": {
      "get": {
        "description": "Get all contacts",
        "operationId": "v0_get_contacts",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get all contacts",
        "tags": [
          "contacts"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer"
            }
          }
        ]
      },
      "post": {
        "description": "Create contact",
        "operationId": "v0_post_contacts",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create contact",
        "tags": [
          "contacts"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "description": "Update contact",
        "operationId": "v0_put_contacts",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update contact",
        "tags": [
          "contacts"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "deprecated-alias",
        "deprecated": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              }
            }
          },
          "required": true
        }
      }
    },
    "/contacts/{_id}": {
      "get": {
        "description": "Get a contact",
        "operationId": "v0_get_contacts_id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get a contact",
        "tags": [
          "contacts"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "path",
            "name": "_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer"
            }
          }
        ]
      },
      "put": {
        "description": "Update contact",
        "operationId": "v0_put_contacts_id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update contact",
        "tags": [
          "contacts"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "path",
            "name": "_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              }
            }
          },
          "required": true
        }
      }
    },
    "/journalEntries": {
      "delete": {
        "description": "Delete journal entry",
        "operationId": "v0_delete_journalEntries",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "The frozen route was historically advertised but has no supported write path."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete journal entry",
        "tags": [
          "journalEntries"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "unavailable",
        "deprecated": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              }
            }
          },
          "required": true
        }
      },
      "get": {
        "description": "Get all journal entries",
        "operationId": "v0_get_journalEntries",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get all journal entries",
        "tags": [
          "journalEntries"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer"
            }
          }
        ]
      },
      "post": {
        "description": "Create journal entry",
        "operationId": "v0_post_journalEntries",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "The frozen route was historically advertised but has no supported write path."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create journal entry",
        "tags": [
          "journalEntries"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "unavailable",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "description": "Update journal entry",
        "operationId": "v0_put_journalEntries",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "The frozen route was historically advertised but has no supported write path."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update journal entry",
        "tags": [
          "journalEntries"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "unavailable",
        "deprecated": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              }
            }
          },
          "required": true
        }
      }
    },
    "/journalEntries/{_id}": {
      "delete": {
        "description": "Delete journal entry",
        "operationId": "v0_delete_journalEntries_id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "The frozen route was historically advertised but has no supported write path."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete journal entry",
        "tags": [
          "journalEntries"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "unavailable",
        "parameters": [
          {
            "in": "path",
            "name": "_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "description": "Get a journal entry",
        "operationId": "v0_get_journalEntries_id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get a journal entry",
        "tags": [
          "journalEntries"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "path",
            "name": "_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer"
            }
          }
        ]
      },
      "put": {
        "description": "Update journal entry",
        "operationId": "v0_put_journalEntries_id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "The frozen route was historically advertised but has no supported write path."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update journal entry",
        "tags": [
          "journalEntries"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "unavailable",
        "parameters": [
          {
            "in": "path",
            "name": "_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              }
            }
          },
          "required": true
        }
      }
    },
    "/lists": {
      "delete": {
        "description": "Delete list",
        "operationId": "v0_delete_lists",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete list",
        "tags": [
          "lists"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "deprecated-alias",
        "deprecated": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              }
            }
          },
          "required": true
        }
      },
      "get": {
        "description": "Get all lists",
        "operationId": "v0_get_lists",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get all lists",
        "tags": [
          "lists"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer"
            }
          }
        ]
      },
      "post": {
        "description": "Create list",
        "operationId": "v0_post_lists",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create list",
        "tags": [
          "lists"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "description": "Update list",
        "operationId": "v0_put_lists",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update list",
        "tags": [
          "lists"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "deprecated-alias",
        "deprecated": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              }
            }
          },
          "required": true
        }
      }
    },
    "/lists/{_id}": {
      "delete": {
        "description": "Delete list",
        "operationId": "v0_delete_lists_id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete list",
        "tags": [
          "lists"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "path",
            "name": "_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "description": "Get a list",
        "operationId": "v0_get_lists_id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get a list",
        "tags": [
          "lists"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "path",
            "name": "_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer"
            }
          }
        ]
      },
      "put": {
        "description": "Update list",
        "operationId": "v0_put_lists_id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update list",
        "tags": [
          "lists"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "path",
            "name": "_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              }
            }
          },
          "required": true
        }
      }
    },
    "/productgroups": {
      "delete": {
        "description": "Delete product group",
        "operationId": "v0_delete_productgroups",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete product group",
        "tags": [
          "productgroups"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "deprecated-alias",
        "deprecated": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              }
            }
          },
          "required": true
        }
      },
      "get": {
        "description": "Get all product groups",
        "operationId": "v0_get_productgroups",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get all product groups",
        "tags": [
          "productgroups"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer"
            }
          }
        ]
      },
      "post": {
        "description": "Create product group",
        "operationId": "v0_post_productgroups",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create product group",
        "tags": [
          "productgroups"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              }
            }
          },
          "required": true
        }
      },
      "put": {
        "description": "Update product group",
        "operationId": "v0_put_productgroups",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update product group",
        "tags": [
          "productgroups"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "deprecated-alias",
        "deprecated": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              }
            }
          },
          "required": true
        }
      }
    },
    "/productgroups/{_id}": {
      "delete": {
        "description": "Delete product group",
        "operationId": "v0_delete_productgroups_id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete product group",
        "tags": [
          "productgroups"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "path",
            "name": "_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "description": "Get a product group",
        "operationId": "v0_get_productgroups_id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get a product group",
        "tags": [
          "productgroups"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "path",
            "name": "_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "maximum": 500,
              "minimum": 1,
              "type": "integer"
            }
          }
        ]
      },
      "put": {
        "description": "Update product group",
        "operationId": "v0_put_productgroups_id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update product group",
        "tags": [
          "productgroups"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "supported",
        "parameters": [
          {
            "in": "path",
            "name": "_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              }
            }
          },
          "required": true
        }
      }
    },
    "/products": {
      "delete": {
        "description": "Delete product",
        "operationId": "v0_delete_products",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy request failure."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Authentication failed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyError"
                }
              }
            },
            "description": "Rate limit exceeded."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete product",
        "tags": [
          "products"
        ],
        "x-teamgrid-authenticated": true,
        "x-teamgrid-contract-status": "deprecated-alias",
        "deprecated": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegacyWritePayload"
              }
            }
          },
          "required": true
        }
      },
      "get": {
        "description": "Get all products",
        "operationId": "v0_get_products",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy success response."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyResponse"
                }
              }
            },
            "description": "Legacy create response."
          },
          "204": {
            "description": "Legacy no-content response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
[...]
